@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .spinner-loader {
    color:blue;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: -.125em;
    border: .25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    animation: spin 2s linear infinite;
  }
  .loading-position{
    text-align: center;
    /* margin: auto; */
    margin-top: 10%;
  }