/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */

body{
  background-color: #e7f9e773;
}

/* facilities */

/* .hotels-section-list {
  display: grid !important;
  grid-auto-flow: row !important;
  grid-template-columns: repeat(3, 1fr) !important;
  padding: 20px;
  grid-auto-rows: minmax(min-content, max-content);
} */

.hotels-section-list{
  display: block;
  margin: 0px !important;
  justify-content: center !important;
  column-gap: 10px;
  row-gap: 10px;
}

.facility-body{
  margin-top: 10%;
}
.facility-body h4{
  text-align: center;
}

.facility-text{
  font-size: 10px !important;
}
.facility-list{
  margin-left: -18px
}

.list-details{
  margin: 0px;
}
.facility-point{
  margin: 0px;
}

.hotel-facilities {
  /* margin: auto; */
  /* width: 40%; */
  /* display: grid; */


}

/* place page */
.place-body{
  width: 50%;
  margin: auto;
  margin-top: 8%;
}
.place-body h3{
  text-align: center;
  margin-bottom: 5%;
}

/* place components */

.place-heading{
  margin-left: 20px;
}

/* location img */
.location-img{
  width: 100%;
}

/* mapLocation */
.map-place-location{
  margin-top: 10%;
}
.location-img-container img{
  width: 100%;
}

/* img scroll-list */
.img-list-scroll{
  margin-top: 1%;
    display: flex;
    overflow: scroll;
}
.thumnbnail{
  margin: 0 5px;
}
.carousel-status{
  display: none;
}

.active-thumbnail{
  border: 3px solid #476ff1;
}

/* Loaders */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinner-loader {
  color:blue;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: -.125em;
  border: .25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}
.loading-position{
  text-align: center;
  /* margin: auto; */
  margin-top: 10%;
}
.loader{
  text-align: center;
  margin-top: 50%;
}

@media screen and (max-width: 900px){
  .place-body{
    width: 80%;
  }
}

@media screen and (max-width : 500px) {
  /* .hotels-section-list{
    font-size: 12px;
  } */
  .place-heading{
    margin-left: 30px;
  }
  
/* .hotels-section-list{
  grid-template-columns: repeat(1, 1fr) !important;
  grid-auto-rows: max-content;
} */
.map-place-location{
  /* width: 80%; */
}

}